<div class="sheet">
  <div>Index</div>
  <%= link_to 'New', new_sheet_path %>
  <% @sheets.each do |sheet| %>
    <%= sheet.content %>
    <%= link_to 'delate', sheet_path(sheet), data: { turbo_method: :delete, confirm: 'Are you sure?' } %><br>

  <% end %>
</div>